[submodule "libft"]
	path = libft
	url = https://github.com/alcjzk/libft
[submodule "FdF"]
	path = FdF
	url = https://github.com/alcjzk/FdF
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/alcjzk/push_swap
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/alcjzk/minitalk
